.cover__text {
  max-width: 560px;
  width: 100%;
  display: grid;
  gap: 32px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  justify-items: center;
  align-self: center;
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__text {
    width: 90%;
    gap: 16px;
  }
}
