.cover__overlay-link {
  display: grid;
  justify-items: center;
  text-decoration: none;
  position: relative;
}

.cover__overlay-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 30%;
}

.cover__overlay-link:hover::after {
  opacity: 80%;
}
